html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Roboto, HelveticaNeue-Light, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

p{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

#createView{
    position: absolute;
    background: white;
    width: 80%;
    height: 70%;
    margin: 0 10% 0 10%;
    top: 15%;
    display: none;
    box-shadow: 0px 0px 20px rgba(0,0,0,.35);
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

#cancelCreateTrigger{
    background: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(90% - 20px);
    top: calc(15% - 20px);
    border-radius: 50%;
    display: none;
    opacity: 0;
}

#cancelCreateButton{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ff7f7f;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    font-size: 25px;
    color:  white;
    cursor: default;
    transition-duration: .1s;
}

#cancelCreateTrigger:hover #cancelCreateButton{
    transform: scale(1.1);
}

#cancelCreateTrigger:active #cancelCreateButton{
    transform: scale(1);
}

.cardTrigger{
    background: transparent;
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 10px;
    padding: 0;
    transform: scale(1);
    cursor: default;
}

.card{
/*    background-color: #fff7d8;*/
    background-color: #c6e5ff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
    
    animation: popIn 0.5s ease-out;
    
    
    transition-duration: .1s;
    transition-timing-function: ease-out;
}

.cardTitle{
/*    background-color: rgba(255,255,255,.1);*/
    position: absolute;
    width: 90%;
    height: 15%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0 5% 0 5%;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    font-size: 18px;
    font-family: "Roboto Slab";
    font-weight: 300;
}

.cardDate{
/*    background-color: rgba(255,255,255,.3);*/
    position: absolute;
    width: 90%;
    height: 10%;
    overflow: hidden;
    margin: 0 5% 0 5%;
    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    font-size: 15px;
    font-family: "Source Sans Pro";
    
    top: 15%;
}

.cardContent{
    position: absolute;
    overflow: hidden;
    width: 90%;
    height: 65%;
    top: 25%;
    margin: 5%;
    font-size: 14px;
}

.cardContentBlur{
    position: absolute;
    width: 90%;
    height: 30%;
    margin: 5%;
    top: 60%;
    background: linear-gradient(to bottom, rgba(198, 229, 255, 0) 0%, rgba(198, 229, 255, 1) 100%);
}

#cardView{
    background: transparent;
    position: absolute;
    height: 100%;
    width: 85%;
    left: 15%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: wrap row;
}

#emptyView{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 300;
    color: rgba(0,0,0,.2);
    text-align: center;
    display: none;
    opacity: 0;
}


#controlView{
    width: 15%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0,0,0,.4);
}

.buttonTrigger{
    position: absolute;
    width: 80%;
    cursor: pointer;
}

.button{
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    transition-duration: .05s;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    animation: slideIn 0.7s ease-out;
    overflow: hidden;
}

#newPoemTrigger{
    height: 30%;
    left: 10%;
    top: 2%;
}

#deletePoemsTrigger{
    height: 15%;
    left: 10%;
    top: 34%;
}

#testPoemTrigger{
    height: 15%;
    left: 10%;
    top: 51%;
}

#newPoem{
    background-color: #88ea98;
}

#deletePoems{
    background-color: #ff8989;
}

#testPoem{
    background-color: #ffcc8e;
}

.buttonTrigger:hover .button{
    transform: scale(.96);
}

.buttonTrigger:active .button{
    transform: scale(.93);
}

.cardTrigger:hover .card{
    transform: scale(0.95);
}

@keyframes popIn{
    0%{opacity: 0; transform: scale(0.95);}
    100%{opacity: 1;}
}

@keyframes slideIn{
    0%{opacity: 0; transform: translateX(-20px);}
    100%{opacity: 1;}
}