html,body{
    padding: 0;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

.pad{
    background: #71bdf0;
    width: 24%;
    height: 48%;
    font-size: 15px;
    color: white;
    user-select: none;
    transition-duration: .05s;
    border-radius: 8px;
}

.selected{
    background: #bedaed;
    border-radius: 20px;
}


#group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
}