html,body{
    padding: 0;
    margin: 0;
    user-select: none;
}

.pad{
    background: #98d9ab;
    width: 24%;
    height: 48%;
    font-size: 15px;
    color: white;
    user-select: none;
}

.pad:active{
    background: #89c79b;
}

#group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}