html,body{
    padding: 0;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

.pad{
    background: #71bdf0;
    width: 24%;
    height: 48%;
    font-size: 15px;
    color: white;
    user-select: none;
    transition-duration: .05s;
    border-radius: 2%;
}

.selected{
    background: #bedaed;
    border-radius: 10%;
}


#rows{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
}

.col{
    padding: 10px 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: red;
}